name: tests

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ['3.7', '3.10']
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install -r requirements-dev.txt
    - run: mypy pyi.py
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    # flake8 not in requirements-dev.txt, because versions specified in setup.py are complicated
    - run: pip install -e .
    - run: pip install -r requirements-dev.txt
    - run: |
        flake8 $(git ls-files | grep 'py$')
  tests:
    name: pytest suite
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ['ubuntu-latest', 'macos-latest', 'windows-latest']
        python-version: ['3.7', '3.8', '3.9', '3.10', '3.11-dev']
      fail-fast: false
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - run: pip install -e .
    - run: pip install -r requirements-dev.txt
    - run: python3 -m pytest -vv
  check-typeshed:
    name: typeshed_primer
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/checkout@v2
      with:
        repository: python/typeshed
        path: typeshed
    - uses: actions/setup-python@v2
      with:
        python-version: "3.10"
    - run: pip install -e .
    - run: |
        cd typeshed && flake8
