name: tests

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

env:
  PIP_DISABLE_PIP_VERSION_CHECK: 1

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  mypy:
    name: mypy
    runs-on: ubuntu-latest
    timeout-minutes: 5
    strategy:
      matrix:
        python-version: ["3.7", "3.11"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: requirements-dev.txt
      - run: pip install -r requirements-dev.txt
      - run: mypy pyi.py

  flake8:
    name: flake8
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: |
            requirements-dev.txt
            setup.py
      # flake8 not in requirements-dev.txt, because versions specified in setup.py are complicated
      - run: pip install -e .
      - run: pip install -r requirements-dev.txt
      - run: |
          flake8 $(git ls-files | grep 'py$')

  tests:
    name: pytest suite
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip
          cache-dependency-path: |
            requirements-dev.txt
            setup.py
      - run: pip install -e .
      - run: pip install -r requirements-dev.txt
      - run: python3 -m pytest -vv

  tests-flake8-v4:
    name: pytest suite with flake8 v4
    timeout-minutes: 10
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-python@v4
        with:
          # Run on Python 3.7, as the importlib_metadata compatibility problems with flake8 v5
          # are much less on Python 3.8+, where importlib.metadata is available in the stdlib
          python-version: 3.7
          cache: pip
          cache-dependency-path: |
            requirements-dev.txt
            setup.py
      - run: pip install "flake8<5"
      - run: pip install -e .
      - run: pip install -r requirements-dev.txt
      - run: python3 -m pytest -vv

  check-typeshed:
    name: typeshed_primer
    timeout-minutes: 5
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.base_ref }}
          path: old
      - uses: actions/checkout@v3
        with:
          repository: python/typeshed
          path: typeshed
      - uses: actions/setup-python@v4
        with:
          python-version: "3.11"
          cache: pip
          cache-dependency-path: setup.py
      # We CD so that "typeshed" doesn't appear in the error path
      - name: Run on current branch
        run: |
          pip install -e .
          cd typeshed
          flake8 --exit-zero --color never --output-file errors_new.txt
      - name: Run on target branch
        run: |
          cd ../old
          pip install -e .
          cd ../typeshed
          flake8 --exit-zero --color never --output-file errors_old.txt
      - run: |
          echo ${{ github.event.pull_request.number }} | tee pr_number.txt
          diff errors_old.txt errors_new.txt > errors_diff.txt
      - name: Upload Flake8 errors and PR number
        uses: actions/upload-artifact@v3
        with:
          name: typeshed_primer_errors
          path: |
            typeshed/errors_*.txt
            typeshed/pr_number.txt
